.edit-profile-container {
  background-color: #003f5c;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-form {
  background-color: #003f5c;
}
